
body,body * {
    font-family: 'Georama', sans-serif;
}

#nav {
    margin-top: 0px;
    margin-bottom: 50px;
}

#profile {
    max-width: 15%;
    height: auto;
    display: block;
    margin: 50px auto 80px auto;
}

.img-fluid {
    width: 50%;
}
#jumbotron1 {
    min-height: 500px;
    text-align: center;
    margin-bottom: 50px;
    
}

#jumbotron2 {
    min-height: 500px;
    text-align: center;
    margin-bottom: 50px;
}

#jumbotron3 {
    min-height: 400px;
    text-align: center;
    margin-bottom: 50px;
}

.container {
    margin-top: 50px;
}

.boxcont {
    position: relative;
    width: 50%;
  }
  
  .w-100 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 95%;
    width: 95%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ffffff;
  }
  
  .boxcont:hover .overlay {
    opacity: 5;
  }
  
  .text {
    color: rgb(2, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
